In [1]:
import pandas as pd
data=pd.read_excel("titanik.xlsx")
df = pd.read_excel("titanik.xlsx")
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38      1
2                             Heikkinen, Miss. Laina  female  26      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35      1
4                           Allen, Mr. William Henry    male  35      0

   Parch            Ticket                 Fare Cabin Embarked
0      0         A/5 21171  2025-07-01 00:00:00   NaN        S
1      0          PC 17599              71.2833   C85        C
2      0  STON/O2. 3101282                7.925   NaN        S
3      0            113803                 53.1  C123        S
4      0            373450  2024-05-08 00:00:00   NaN        S

In [2]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
filtr = df[df['Age'] <15]
print(filtr)

     PassengerId  Survived  Pclass                                     Name  \
7              8         0       3           Palsson, Master. Gosta Leonard
9             10         1       2      Nasser, Mrs. Nicholas (Adele Achem)
10            11         1       3          Sandstrom, Miss. Marguerite Rut
14            15         0       3     Vestrom, Miss. Hulda Amanda Adolfina
16            17         0       3                     Rice, Master. Eugene
..           ...       ...     ...                                      ...
827          828         1       2                    Mallet, Master. Andre
831          832         1       2          Richards, Master. George Sibley
850          851         0       3  Andersson, Master. Sigvard Harald Elias
852          853         0       3                  Boulos, Miss. Nourelain
869          870         1       3          Johnson, Master. Harold Theodor

        Sex    Age  SibSp  Parch           Ticket                 Fare Cabin  \
7      male   2.00      3      1           349909               21.075   NaN
9    female  14.00      1      0           237736              30.0708   NaN
10   female   4.00      1      1          PP 9549  2024-07-16 00:00:00    G6
14   female  14.00      0      0           350406  8542-07-01 00:00:00   NaN
16     male   2.00      4      1           382652               29.125   NaN
..      ...    ...    ...    ...              ...                  ...   ...
827    male   1.00      0      2  S.C./PARIS 2079              37.0042   NaN
831    male   0.83      1      1            29106                18.75   NaN
850    male   4.00      4      2           347082               31.275   NaN
852  female   9.00      1      1             2678              15.2458   NaN
869    male   4.00      1      1           347742              11.1333   NaN

    Embarked
7          S
9          C
10         S
14         S
16         Q
..       ...
827        C
831        S
850        S
852        C
869        S

[77 rows x 12 columns]

In [3]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
filtr = df[df['Age'] >15]
print(filtr)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket                 Fare Cabin Embarked
0        0         A/5 21171  2025-07-01 00:00:00   NaN        S
1        0          PC 17599              71.2833   C85        C
2        0  STON/O2. 3101282                7.925   NaN        S
3        0            113803                 53.1  C123        S
4        0            373450  2024-05-08 00:00:00   NaN        S
..     ...               ...                  ...   ...      ...
885      5            382652               29.125   NaN        Q
886      0            211536                   13   NaN        S
887      0            112053                   30   B42        S
889      0            111369                   30  C148        C
890      0            370376  1975-07-01 00:00:00   NaN        Q

[624 rows x 12 columns]